---
import "../components/css/other.css";
---



<div class="container not_present">
    <img src="/norecord.png" alt="">
    <h1>No Record Found</h1>
    <p>Sorry, no records were found for your query.</p>
    <button>
        View Event calender
    </button>
    <button>
        Download Calender
    </button>
    <div class="butt">
        <a href="/"><button>Return Back</button></a>
    </div>
</div>

