---
import Form from "../components/register/form.astro";
import Rules from "../components/register/rules.astro";
import "../css/style.css";
---

<style>
    
    .butt button{
        filter: drop-shadow(1px 1px 5px black);
        color: black;
        cursor: pointer;
    }
</style>

<div class="butt">
    <a href="/"><button>Return Back</button></a>
</div>
<div class="full_form">

    <div class="box">
        <Rules/>
        <Form/>
    </div>
</div>