---
import Upcomingevents from "../components/Upcomingevents.astro";
import "../css/style.css";
---
<section class="portfolio" id="skills">
    <div class="heading">
        <h2>Register and Participate</h2>
    </div>

    <div class="portfolio-content">

        <div class="col">
            <img class="image" src="./image/Sport1.jpg" alt="" />
            <div class="layer">
                <h3 class="name">Race</h3>
            </div>

            <div class="btn-cen">
                <a href="/registration/"><button class="btn-pink" id="btn">Register</button></a>
            </div>
        </div>

        <div class="col">
            <img src="./image/Sport2.jpg" alt="" />
            <div class="layer">
                <h3 class="name">Basketball</h3>
            </div>

            <div class="btn-cen">
                <a href="/datanotpresent/"><button class="btn-pink" id="btn">Register</button></a>
            </div>
        </div>

        <div class="col">
            <img src="./image/Sport3.jpg" alt="" />
            <div class="layer">
                <h3 class="name">Vollyball</h3>
            </div>

            <div class="btn-cen">
                <a href=""><button class="btn-pink" id="btn">Register</button></a>
            </div>
        </div>

        <div class="col">
            <img src="./image/Sport4.jpg" alt="" />
            <div class="layer">
                <h3 class="name">Badminton</h3>
            </div>

            <div class="btn-cen">
                <a href=""><button class="btn-pink" id="btn">Register</button></a>
            </div>
        </div>

        <div class="col">
            <img src="./image/Sport5.jpg" alt="" />
            <div class="layer">
                <h3 class="name">Football</h3>
            </div>

            <div class="btn-cen">
                <a href=""><button class="btn-pink" id="btn">Register</button></a>
            </div>
        </div>

        <div class="col">
            <img src="./image/Sport6.jpg" alt="" />
            <div class="layer">
                <h3 class="name">Cricket</h3>
            </div>

            <div class="btn-cen">
                <a href=""><button class="btn-pink" id="btn">Register</button></a>
            </div>
        </div>
    </div>
</section>
<!-- <div
    style="text-align: center; margin: 100px; font-size: 40px; font-weight:bold"
>
    MORE SPORTS COMING SOON
</div> -->
<Upcomingevents/>
