---
import "../css/style.css";
---

<section class="upcoming">
    <div class="heading">
        <h3>Updates</h3>

        <h2>Upcoming Events</h2>
    </div>

    <!-- <span id="right" class="fa-solid fa-angle-left"></span> -->
    <ul class="carousel">
        <li class="card">
            <div class="img" id="img1"></div>
            <h2>#1</h2>
            <span>Sport-Meet</span>
        </li>
        <li class="card">
            <div class="img" id="img2"></div>
            <h2>#2</h2>
            <span>Euphoric</span>
        </li>
        <li class="card">
            <div class="img" id="img3"></div>
            <h2>#3</h2>
            <span>Sanskar Leugue</span>
        </li>
        <li class="card">
            <div class="img" id="img4"></div>
            <h2>#4</h2>
            <span>Vollyball</span>
        </li>
        <li class="card">
            <div class="img" id="img5"></div>
            <h2>#5</h2>
            <span>Sportathon</span>
        </li>
        <li class="card">
            <div class="img" id="img6"></div>
            <h2>#6</h2>
            <span>Basketball Champs</span>
        </li>
    </ul>
    <i id="right" class="fa-solid fa-angle-right"></i>
</section>
