* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main_navcolor: #f75023;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000;
    --secound-color: #a09dab;
    --main-color: #f75023;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
    --ham_color: rgb(24, 143, 65);
}

:root {
    --bgOrange: #e84949;
}

body {
    font-family: 'Exo 2', sans-serif;
    isolation: isolate;
    scroll-behavior: smooth;
}


#preloader {
    display: flex;
    background: url(/preloader.gif);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FBB471;
    background-size: 300px;
    position: fixed;
    z-index: 9999;
    justify-content: center;
    align-items: self-end;
    overflow: hidden !important;
}

#preloader span {
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Exo 2', sans-serif;
    color: rgb(62, 62, 62);
    font-size: 15px;
    font-weight: 500;
    margin: 20px;
}



nav {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 1000;
    filter: drop-shadow(0px 2px 3px black);
}

nav .logo img {
    width: 150px;
    margin: 0 20px 0 20px;
}

nav ul,
nav a {
    text-decoration: none;
    list-style-type: none;
    color: #000;
    font-weight: 800;
}

nav ul {
    display: flex;
    gap: 3rem;
    padding: 0 50px 0 0;
}

nav ul li:hover {
    color: var(--main_navcolor);
    transition: all 0.2s linear;
    filter: opacity(1);
}

.hamburgur_menu {
    display: none;
}

.ham {
    position: relative;
    background-color: #000;
    height: 5px;
    width: 30px;
    border-radius: 20px;

}

.ham::after,
.ham::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #ef1a1a;
    height: 5px;
    width: 30px;
    border-radius: 20px;
    transition: all 0.3s linear;
}

.ham::after {
    bottom: -10px;
}

.ham::before {
    bottom: 10px;
}

.hamburgur_menu[aria-pressed="true"] {

    .ham,
    .ham::after,
    .ham::before {
        background-color: var(--ham_color);
    }

    .ham::before {
        bottom: 0;
        transform: translateX(35px);
    }

    .ham::after {
        bottom: 0;
        transform: translateX(-35px);
    }
}

.mob_menu {
    display: none;
    background-color: rgba(0, 0, 0, 0.724);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    position: fixed;
    z-index: 999;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;
}

.mob_menu[data-visible="false"] {
    transform: translateX(100%);
}

.mob_menu[data-visible="true"] {
    transform: translateX(0%);
}

.mob_nav li {
    list-style: none;
    font-weight: bold;
    font-size: 25px;
    padding: 20px;
    text-align: center;
}

@media (max-width:824px) {

    .b_nav {
        display: none !important;
    }

    .hamburgur_menu {
        display: flex;
        padding: 20px;
        transition: all 0.3s linear;
        margin: 0 20px 0 0;
    }

    .mob_menu {
        display: flex;
        width: 100%;
    }

}

@media (max-width:426px) {
    .mob_nav li {
        font-size: 20px;
    }
}

.active {
    color: var(--main_navcolor);
    position: relative;
}

header {
    position: relative;
}

.banner {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.833), #c88f53b0), url(/back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    color: white;
    display: flex;
    align-items: self-end;
    margin-bottom: 10px;
}

.banner span {
    font-size: 40px;
    font-weight: 900;
    filter: drop-shadow(1px 1px 10px black);
    margin: 50px 20px 20px 20px;
}

@media (max-width:426px) {
    .banner span {
        font-size: 30px;
    }
}

#HOME {
    height: auto;
    width: 100%;
    padding: 20px 0 20px 0;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    height: auto;
    padding: 25px;
    color: white;

}

@media(max-width:769px) {
    footer {
        font-size: 12px;
    }
}

a {
    text-decoration: none;
    color: white;
}


.about {
    text-transform: uppercase;
    height: auto;
    margin: auto;
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
}


.quote {
    padding: 10px;
    background: linear-gradient(to right, purple, green,
            red, yellow);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}


@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}


/* krishna */


.heading {
    text-align: center;
}

.heading h2 {
    font-size: var(--h2-font);
    font-weight: 500;
    margin: 7px 0px 20px;
    line-height: 1.1;
}

.heading p {
    font-size: var(--p-font);
    color: var(--secound-color);
    line-height: 28px;
}

.portfolio {
    padding: 100px 5%;
}

@media (max-width:426px) {
    .portfolio {
        padding: 60px 5%;
    }

}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
    cursor: pointer;
}

.col {
    position: relative;
    align-items: center;
    margin-bottom: 20px;
}



.col img {
    max-width: 100%;
    height: 400px;
    width: 550px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.layer {
    background: transparent;
    height: 70%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    transition: all .40s;
}

.layer:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, #191919);
}

.layer h3 {
    position: absolute;
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    color: var(--bg-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .40s;
}


.layer:hover h3 {
    bottom: 52%;
    opacity: 1;

}

.layer h5 {
    position: absolute;
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    color: var(--bg-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .40s;
}


.layer:hover h5 {
    bottom: 45%;
    opacity: 1;
}

.btn-pink {
    background-color: var(--bgOrange);
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
}

.btn-pink::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}

.btn-pink:hover::before {
    transform: scaleX(1);
}

.btn-pink:hover {
    border: solid 3px var(--bgOrange);
    color: black;
}


.btn-cen {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

@media (max-width: 1425px) {

    section {
        padding: 70px 3%;
        transition: .3s;
    }

    :root {
        --big-font: 4rem;
        --h2-font: 2.3rem;
        --p-font: 1rem;
        transition: .3s;
    }
}

@media (max-width: 800px) {
    :root {
        --big-font: 3.4rem;
        --h2-font: 2rem;
    }

    section {
        padding: 65% 3%;
        transition: .3s;
    }
}

.upcoming .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) -12px);
    margin-top: 5rem;
    overflow-x: auto;
    width: 80%;
    margin: auto;
    /*   scroll-snap-type: x mandatory; */
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.carousel .card .img {
    /* background-image: url(Image/event1.jpg); */
    background-size: cover;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.4);

}

.card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
}

#img1 {
    background-image: url(/image/event2.jpg);
}

#img2 {
    background-image: url(/image/event1.jpg);
}

#img3 {
    background-image: url(/image/event3.jpg);
}

#img4 {
    background-image: url(/image/event4.jpg);
}

#img5 {
    background-image: url(/image/event3.jpg);
}

#img6 {
    background-image: url(/image/event1.jpg);
}

@media screen and (max-width: 900px) {
    .upcoming .carousel {
        grid-auto-columns: calc((100% 0/5) - 10px);
    }
}

@media screen and (max-width: 600px) {
    .upcoming .carousel {
        grid-auto-columns: 100%;
    }
}




/* FORM */

.butt{
    padding: 20px;
    cursor: pointer;
}
.butt button{
    background-color: white;
    border: none;
    padding: 20px;
    border-radius: 20px;    
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.full_form {
    font-family: 'Exo 2', sans-serif !important;
    background-color: #ffffff;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.box {
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: auto;
    padding: 30px;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: unset;
    filter: drop-shadow(2px 2px 5px rgb(0, 0, 0));
}

@media (max-width:769px) {
    .box {
        flex-direction: column;
        height: auto;
    }

}

/*---------------------------------------------- RULE STYLING --------------------------------         */

.rule-page,
.form-page {
    width: 100%;
    height: auto;

}




.rules-box {
    height: auto;
    width: 100%;
    filter: drop-shadow(1px 1px 20px rgba(0, 0, 0, 0.603));
    background-color: #ffffff;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    padding: 50px 20px 50px 20px;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

/* .game-img{
    height: 35%;
    width: 80%;
    background-image: linear-gradient(#614385 ,#516395);
    background-size: cover;
  } */

.rule-text {
    padding-top: 10px;
    height: 40%;
    width: 80%;

}

.rule-text ul {
    margin-top: 2px;
    list-style: none;
}

.rule-text ul li {
    margin-bottom: 5px;
    font-size: small;
}


/*---------------------------------------------------- Form Styling --------------------------------------------  */

/* Reset some default styles for better consistency */
label,
input,
select {
    margin: 0;
    padding: 0;
}

/* Apply a background color and text color to the body */

/* Style the header */
.heading {
    text-align: center;
    margin-bottom: 20px;
}


/* Style form elements */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 600px) {

    input[type="text"],
    select {
        width: 100%;
    }

    .form-group button {
        width: 100%;
    }
}